table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tbody tr:hover{
  background-color: #dddddd;
  cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#viewInventory{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

