<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container-fluid" id="allbuttons">
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-primary btn btn-space" routerLink="/manufacturer">Add Manufacturer</button>
    <button type="button" class="btn btn-primary btn btn-space" routerLink="/model">Add Model</button>
    <button type="button" class="btn btn-primary btn btn-space" routerLink="/inventory">View Inventory</button>
  </div>
</div>

<router-outlet></router-outlet>
